{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" type="text/css" href="/static/css/reg_log.css"/>
{% endblock %}

{% block content %}
<title>Авторизация</title>
    <h1>Авторизация</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <h3>{{ form.email.label }}</h3>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            <h3>{{ form.password.label }}</h3>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p><h3>{{ form.remember_me() }} {{ form.remember_me.label }}</h3></p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}
